<!--footer design-->
<footer class="text-center py-3 bg-dark text-white mt-5">
    <p>&copy; 100825730 Georgy Sim. Tsuchinokard All rights reserved. </p>
    <nav>
        <a href="/">Home</a>
    </nav>
    </footer>
    <!--load playpause button-->
    <script src="/javascripts/video.js"></script>
  </body>
</html>