<%- include('partials/header') %>

<div style="text-align:center; margin-top: 50px;">
  <h2>Deck "<%= deckName %>" was created successfully!</h2>
  <p>
    <a href="/" class="button" style="margin-top: 20px; display: inline-block;">Go to Home Page</a>
  </p>
</div>

<%- include('partials/footer') %>